.header__searchIcon {
    padding: 2px;
    height: 32px !important;
    width:35px;
    background-color: #e09129;
  }
  
  
  .header__searchIcon:hover {
    cursor: pointer;
  }

  .logo{
    height: 60px;
    width: 90px;
  }

  .header__optionLineOne {
    font-size: 12px;
  }
  
  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 700;
  }
  
  .header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
    
  }
  
  .header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
    color:#e09129;
    font-weight: 400;
    font-size: 18px;
  }
  .header__optionBasket__icon {
    padding:5px;
    color:#e09129;
    margin-left: 20px;
  }


a:link{
    text-decoration: none!important;
}
    

.btn-auth {background-image: linear-gradient(to right, #F09819 0%, #ddcf4f  51%, #F09819  100%)}
.btn-auth {
   padding: 10px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   /* box-shadow: 0 0 20px #eee; */
   border-radius: 10px;
   display: block;
 }

 .btn-auth:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
